:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #2f303a;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* логотип */
.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: var(--accent-color);
}
.accent-logo {
  color: var(--primary-white-color);
}
.site-nav .link {
  color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  background-color: var(--primary-grey-color);
  color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.section-title {
  color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* work */
.work-title {
  color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* projects */
.projects-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.projects-title {
  color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* button */
.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
}

.button-primary {
  color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  border-color: transparent;
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: transparent;
}

/* features */
.feature-title {
  color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* contacts */
.adress {
  background-color: var(--primary-grey-color);
}
.contact-title {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.14;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contact-item {
  font-family: 'Roboto', sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.contact-title:hover,
.contact-item:hover,
.adress-title:hover {
  color: var(--accent-color);
}

.adress-title {
  color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}
/* цвет основного текста: #212121;
вторичный цвет текста:#757575 ;
цвет h1:#FFFFFF;
цвет контактов в футере: #FFFFFF99 ? 60%   rgba(255, 255, 255, 0.6);
акцент: #2196f3;
цвет фона: #ffffff;
цвет торичного фона: #f5f4fa; */
